<html>
<head>
    <link rel="stylesheet" href="/files/style.css">
    <script>
    {{> hot_reload_script}}
    </script>
    <title>{{blog_entry.description.title}}</title>
</head>
<body>
    <h1 id="blog_title" >{{blog_entry.description.title}}</h1>
    {{{blog_entry.html}}}
</body>
</html>
