
<html>
<head>
    <link rel="stylesheet" href="/files/style.css">
    <script>
    {{> hot_reload_script}}
    </script>
    <title>Not found</title>
</head>
<body>
    <h3>Entry '{{entry_not_found}}' not found</h3>
</body>
</html>
